@charset "UTF-8";
body{background-color: lightskyblue;
font-family:arial;}
title {color: black;font-family:arial;}
h1 {color:black;font-family:arial;}
h2 {color:black;font-family:arial;}
p {color:black;font-family:arial;}
{
  box-sizing: border-box;
  margin:0;
  padding:0
    li,a,button{
      font-family: arial, sans-serif;
      font-size: 16px;
      color:black;
      text-decoration:none
  }

  header {
    display: flex;
justify-contnet: space-betweeen;
    align-items:center;
    padding:30px 10%;
}

.nav_links li {
  display: inline-block;
  padding:0px 20px;
}
.nav_links li a{
  transistion: all .03s ease 0s
}
.nav_links li a:hover {
  color: darkskyblue
}
button {
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none
  border-radius: 50px;
  cursor: pointer; 
    transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(0,136,169,0.8);
  }
  


