@charset "UTF-8";
body{background-color: lightskyblue;
font-family:arial;}
title {color: black;font-family:arial;}
h1 {color:black;font-family:arial;}
h2 {color:black;font-family:arial;}
p {color:black;font-family:arial;}
.icon-bar {
  width: 100%;  
  background-color: black;
  overflow: auto;
}

.icon-bar a {
  float: left;
  text-align: center;
  width: 16%; 
  padding: 12px 0; 
  transition: all 0.3s ease; 
  color: lightskyblue; 
  font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: grey; 
}

.active {
  background-color: darkgrey; /* Add an active/current color */
}






{
  box-sizing: border-box;
  margin:0;
  padding:0
    li,a,button{
      font-family: arial, sans-serif;
      font-size: 16px;
      color:black;
      text-decoration:none
  }
img { 
  border: 5px solid black
}
  header {
    display: flex;
justify-content: space-betweeen;
    align-items:center;
    padding:30px 10%;
}
/* link styles */
a:link, a:visited { color: #DC6903; }
a:focus, a:hover, a:active { color: #F9AB33; }
#nav_links li {
  display: inline-block;
  padding:0px 20px;
}
.nav_links li a{
  transistion: all .03s ease 0s
}
#nav_links li a:hover {
  color: darkskyblue
}
#nav ul li a:link, nav ul li a:visited {
  color: #F9AB33;
}
button {
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none
  border-radius: 50px;
  cursor: pointer; 
    transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(0,136,169,0.8);
  }
 

.gallery-img:hover {
  opacity: .7;
}
li a {
  display:flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  height: 25px;
  align-items: center;
  color: lightskyblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 
}  
  
